<!DOCTYPE html>
<html>
  <head>
    <title>RailsApiPlusView</title>
    <base href="/">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <script>
      var $controllerName = '<%= controller_name %>';
      var $actionName = '<%= action_name %>';
    </script>
    <<%= controller_name %>-<%= action_name %>>Loading</<%= controller_name %>-<%= action_name %>>
    <%= yield %>
    <%= javascript_include_tag 'main' %>
  </body>
</html>
